@import "bourbon";
@import "font-awesome";

body {
  background-image: url(../images/back.jpg);
  background-size: cover;
  font-family: 'VT323', ;
  font-size: 20px;
  position: relative;
}

.keywest{
  float: left;
  position: absolute;
  top: 0;
  left: 0;
}

.keyright{
  float: right;
  position: absolute;
  top: 0;
  right: 0;
}

.wrapper{
  margin: 250px auto;
  width: 600px;
  .top{
    color: white;
    .goodguy{
      float: left;
    }
    .badguy{
      float: right;
    }
  }
  img{
    float: right;
    padding-right: 35px;
  }
}

input {
  height: 50px;
  width: 600px;
  outline: none;
  background: black;
  color: green;
  font-size: 30px;
}

.under{
  color: white;
  text-align: center;
}
